table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  text-align: left;
  padding: 3vh;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
